.App-header {
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 90%;
  margin: auto;
}
.Refresh-Location-Button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-size: 12px;
  background: lightgrey;
}

@media (min-width: 700px) {
  
  .App-header{
    
    position: relative;
    flex-direction: row;
    height: 80px;

  }
  .Refresh-Location-Button {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -100px;
    
  }
}