.favCityHeader {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.deleteButton {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 17.6px;
    background: darkgray;
    color: white;
}